.google-fonts {
  /* ここにGoogle Fontsを指定します */
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 20px;
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
#basic p {
  font-weight: bold; 
}
.decoration {
  font-size: 2.0rem;
  letter-spacing: 1.2em;
  text-shadow: 5px 5px 5px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203) ;
}