#top {
  width: 800px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dcc9f4;
  text-align:center;
}
#middle {
  position: relative;
  width: 800px;
  height: 800px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
}
#bottom {
  width: 800px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #87ceeb;
}
.top-child{
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;
}
#middle-child01{
  position: absolute;
  top: 100px;
  left: 100px;
  height: 200px;
  width: 200px;
  background-color: #87ceeb;
}
#middle-child02{
  position: absolute;
  top: 300px;
  left: 300px;
  height: 200px;
  width: 200px;
  background-color: #87ceeb;
}
#middle-child03{
  position: absolute;
  top: 500px;
  left: 500px;
  height: 200px;
  width: 200px;
  background-color: #87ceeb;
}
#bottom-child01{
  height: 100px;
  width: 400px;
  background-color: #e5dcf0;
}
#bottom-child02{
  position: relative;
  left: 200px;
  height: 100px;
  width: 400px;
  background-color: #e5dcf0;
}
#bottom-child03{
  position: relative;
  left: 400px;
  height: 100px;
  width: 400px;
  background-color: #e5dcf0;
}